/* Affects the first body */
body{
    background-color: rgb(19, 19, 19);
    color: lime;
}

/* Centered Karate man Code */
.karateman img {
    display: block;
    float:left;
}

/* Logo Style and Positioning */
h1{
    text-align: center;
    vertical-align: text-top;
    font-size: 15px;
}
div0{
    position: relative;
    text-align: center;
}

/* Re-Styles Nav links */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Also Re-Styles Nav links */
li {
    padding: 160px;
    display: inline;
}
/* Style of links ;) */
a{
  text-decoration:none;
}

a:visited {
   text-decoration: none;
   color: lime;
}

a:hover {
    text-decoration: none; color:yellow;
}

a:active {
    text-decoration: none; color:red;
}

/* avatar image */
.dubPlateImage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
 /**   width: 250px;    **/
    width: 200px;
    border-radius: 20px;
}
